<form [formGroup]="loginForm!" (ngSubmit)="login();" class="form-login">

    <!-- title -->
    <div class="text-center my-5">
        <h1>Skinet Shop</h1>
    </div>

    <!-- inputs -->
    <app-email formControlName="email" [label]="'Email Address'"></app-email>
    <app-password formControlName="password" [label]="'Password'" [type]="'password'"></app-password>

    <!-- submit -->
    <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="!loginForm.valid">Sign In</button>
</form>